@font-face {
  font-family: "jost";
  src: url("src/fonts/Jost-Light.ttf") format("truetype");
}

@font-face {
  font-family: "jost-semi";
  src: url("src/fonts/Jost-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "rubik";
  src: url("src/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "spicy";
  src: url("src/fonts/SpicyRice-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jost", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 255, 102);
}

nav {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  padding: 0vw 10vw;
  position: fixed;
  z-index: 99;
}

nav a,
i {
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
}

.cntr-nav {
  display: flex;
  gap: 3vw;
}

nav i {
  font-size: 1.5vw;
}

.one {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(150deg, rgb(236, 184, 94), rgb(85, 45, 29));
}

#fanta1 {
  width: 45%;
  position: absolute;
  z-index: 2;
  top: 10%;
}

#leaf1 {
  position: absolute;
  width: 25%;
  top: 1%;
  left: 80%;
  z-index: 1;
  rotate: 180deg;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

#leaf2 {
  position: absolute;
  left: 12%;
  width: 20%;
  top: 20%;
}

#leaf3 {
  position: absolute;
  left: 70%;
  top: 65%;
  rotate: 180deg;
  width: 20%;
  opacity: 80%;
}

.one h2 {
  position: absolute;
  font-family: "jost-semi";
  color: wheat;
  font-size: 500px;
}

.two {
  width: 100%;
  display: flex;
  height: 100vh;
  background-color: rgba(233, 108, 5, 0.959);
}

.lft-two,
.rght-two {
  display: flex;
  align-items: flex-start;
  color: white;
  justify-content: center;
  gap: 10vh;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.rght-two h1 {
  font-weight: 800;
  font-size: 80px;
  font-family: "rubik";
}

.lft-two svg {
  width: 55%;
  margin-top: 50%;
}

.rght-two p {
  width: 80%;
}

.three {
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, rgb(151, 170, 73), rgb(63, 82, 18));
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  position: absolute;
}

.card {
  width: 25vw;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: bold;
  justify-content: center;
  margin-top: 20vh;
  gap: 2vh;
  border-radius: 20px;
  background-color: white;
}

.card h1 {
  font-weight: 500;
  font-size: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 35vh;
}

.card button {
  border: none;
  padding: 1vw 2vw;
  cursor: pointer;
  border-radius: 20px;
  background-color: greenyellow;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#sprite {
  top: 15%;
  position: absolute;
  width: 25%;
}

#fanta {
  position: absolute;
  width: 35%;
  top: 20%;
}

#orange-lem3 {
  width: 20vw;
  top: 10%;
  position: absolute;
}

#orange-lem {
  position: absolute;
  width: 35vw;
  top: 2%;
}

#orange-lem2 {
  width: 25vw;
  position: absolute;
  top: 65vh;
  left: 10vw;
}

#round-orange {
  position: absolute;
  width: 30vw;
  top: 8%;
}
